$background: #fff8dc;
$fontcolor: green;

.backgroundstyling {
    color: $fontcolor;
    background-color: $background;
    padding: 10px;
    font-family: sans-serif;
}

h1 {
    color: $fontcolor;
    background-color: $background;
}

.subcategory {
    color: $fontcolor;
}