$background: #fff8dc;
$fontcolor: green;
$linkColor: white;

.backgroundstyling {
    color: $fontcolor;
    background-color: $background;
    padding: 10px;
}

h1 {
    color: $fontcolor;
}

.subcategory {
    color: $fontcolor;
}

.navbar {
    background-color: $background !important;
}

.nav-link {
    color: $fontcolor !important;
}

